apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-datasource
  namespace: monitoring
  labels:
    grafana_datasource: "1"
data:
  prometheus.yaml: |
    {
      "apiVersion": 1,
      "datasources": [
        {
          "name": "Prometheus",
          "type": "prometheus",
          "access": "proxy",
          "url": "http://prometheus-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090",
          "isDefault": false,
          "jsonData": {
            "timeInterval": "15s"
          }
        }
      ]
    }
