apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: preprod

resources:
  - ../../base

replicas:
  - name: backend
    count: 2
  - name: frontend
    count: 2

images:
  - name: bakeroni1/backend
    newTag: 1.1.0
  - name: bakeroni1/frontend
    newTag: 1.0.3

patchesStrategicMerge:
  - |-
    apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: backend-ingress
    spec:
      rules:
        - host: backend.preprod.local
          http:
            paths:
              - path: /
                pathType: Prefix
                backend:
                  service:
                    name: backend
                    port:
                      number: 3000
  - |-
    apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: frontend-ingress
    spec:
      rules:
        - host: frontend.preprod.local
          http:
            paths:
              - path: /
                pathType: Prefix
                backend:
                  service:
                    name: frontend
                    port:
                      number: 80
  - |-
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: frontend-config
    data:
      config.js: |
        window.APP_CONFIG = {
          backendUrl: "http://backend.preprod.local"
        };
  - |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: backend
    spec:
      template:
        spec:
          containers:
            - name: backend
              env:
                - name: DB_HOST
                  value: "postgresql-preprod-rw.preprod.svc.cluster.local"
                - name: DB_PORT
                  value: "5432"
                - name: DB_NAME
                  value: "appdb"
                - name: DB_USER
                  value: "appuser"
                - name: DB_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: postgres-preprod-credentials
                      key: password
