apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: preprod

resources:
  - ../../base

replicas:
  - name: backend
    count: 3
  - name: frontend
    count: 3

images:
  - name: bakeroni1/backend
    newTag: 1.0.1
  - name: bakeroni1/frontend
    newTag: 1.0.1

patchesStrategicMerge:
  - |-
    apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: backend-ingress
    spec:
      rules:
        - host: backend.preprod.local
  - |-
    apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: frontend-ingress
    spec:
      rules:
        - host: frontend.preprod.local
  - |-
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: frontend-config
    data:
      config.js: |
        window.APP_CONFIG = {
          backendUrl: "http://backend.preprod.local"
        };
