apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kubernetes
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/bakir004/kubernetes.git
    targetRevision: HEAD
    path: apps
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
